*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/**/**/.idea/misc.xml
/**/**/.idea/vcs.xml
/**/**/.idea/modules.xml
/**/**/.idea/libraries/
/**/**/.idea/workspace.xml
/**/**/local.properties
/**/**/build/
