body {
   font-family:     Helvetica, Verdana, "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Arial, sans-serif;
   font-size:       90%;
   color:           #052A3D;
   margin:          10pt;
   padding:         10pt;
   border:          none;
}